:root {
    --column: row-reverse;
}
.container {
    display: flex;
    flex-direction: var(--column);
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-flow:  row wrap-reverse;
    align-content: center;
    height: 100px;
    width: 100px;
    flex-basis:  row;
    border: 1px solid #3e2fc0
}
.container div {
    min-width: 100px;
    border: 1px solid #ff5555;
}